body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #00563F;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_container {
    background-color: gold;
    display: grid;
}
.img_container picture {
    position: relative;
    top: 10px;
}

.seattle_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: auto;
}

.data_title {
    padding: 1rem 0 0 0;
}
.data_set {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data_seattle, .weather_seattle {
    background-color: white;
}

.data_seattle h2 {
    text-align: center;
}

.data_set h4 {
    margin: 0;
    padding: 0.3rem;
    text-align: right;
}

.data_set p {
    margin: 0;
    padding: 0.3rem;
    text-align: left;
}

.weather_seattle h2 {
    text-align: center;
}

.weather_title h2 {
    margin: 2rem 0 0 0;
}

.weather_set {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather_set h4 {
    margin: 0;
    padding: 0.3rem;
    text-align: right;
}

.weather_set p {
    margin: 0;
    padding: 0.3rem;
    text-align: left;
}

#weather-icon {
    width: 50px;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #00563F;
    color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 5px 0;
    padding: 0.3rem;
}